.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 1fr;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

button {
  grid-row: 3;
  grid-column: 2;
  font-family: var(--MainFont);
  border: solid black 2px;
  border-radius: 30px;
  font-size: 1em;
  padding: 0.7em;
  width: 7em;
  height: 2em;
  margin: 15px;
}
h1 {
  grid-row: 1;
  grid-column: 2;

  font-family: var(--MainFont);
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.score {
  font-family: var(--MainFont);
  grid-row: 2;
  grid-column: 3;
  text-shadow: 2px 2px 5px white;
}

.alert {
  font-family: var(--MainFont);
  grid-row: 2;
  grid-column: 1;
  text-shadow: 2px 2px 5px white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
